{% extends 'layout.html' %}

{% block title %}
  Home
{% endblock title %}

{% block body %}
  <h2> Bibliosmia (n)</h2><br>
  <h4>bib-lee-oz-mee-ah</h4><br><br>
  <h3>The smell and aroma of a good book.</h3><br>

  <p>
    The effect the book has on the nostrils as you breathe in the scent of the pages. This word has not achieved OED status yet and as such I suppose is urban slang, but I am sure we Bibliophiles will soon change that.
  </p>

  <hr>

  <h3>Example Sentences</h3>
  <p>
    “There is nothing more amazing than walking into a second hand book shop, the bibliosmia alone is enough to make one weep”
  </p>
  <p>
    “If anyone ever bottled Eau de Bibliosmia I’d be first in the queue ha ha.”
  </p>
  <h6>Shamelessly copied from http://forreadingaddicts.co.uk/word-of-the-day/word-of-the-day-bibliosmia/7023</h6>

{% endblock body %}
